.track-container {
  position: relative;
  cursor: pointer;
  padding: 10px;
}
.track-container:hover {
  background-color: #616d7d1d;
  border-radius: 5px;
}

.track-container img {
  display: block;
}

.overlay {
  opacity: 0.7;
  position: absolute;
  background-color: transparent;
  transition: opacity 0.2s ease;
}

.track-container:hover .overlay {
  opacity: 1;
}
