#hovered-list:hover {
  background-color: rgba(78, 78, 78, 0.253);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
#hovered-list {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
